footer{
    height: 30%;
    background-color: rgba(77, 62, 62, 0.329);
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}