<h1>home controller/ <%=title %></h1>

<% if(locals.user) { %> 
<section id="feed-post">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <h3><%=post.content%></h3>
</section>
<% } %> 