<h1>home controller/ <%=title %></h1>

<section>
    <h4>Posts</h4>
    <form action="" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>